body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-size: 2.5em;
    margin-top: 20px;
    color: #444;
}
.small{
    max-width: 300px;
}

.big{
    width: 100%;
}

.blurred{
    filter: blur(10px);
}

.overlay{
    position: absolute;
    top: 0;
    left: 5vw;
    width: 90vw;
}
.overlay img{
    width: 100%;

}
#album {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.photos {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow: hidden;
    width: 200px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.photos:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.photos span {
    display: block;
    padding: 10px;
    font-size: 1.1em;
    color: #555;
    background-color: #f1f1f1;
}

.photos img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-bottom: 1px solid #ddd;

}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

#overlay img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 5px;
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}